// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #201E2A;
$secondary : #A6A5AA;
$accent    : #9C27B0;
$for-background: #EFF0F2;
$for-white: #ffffff;

$dark      : #1D1D1D;

$add-button: #8FD2ED;
$field-invalid-border: #FF4949;

$positive  : #007F00;
$negative  : #D30000;
$info      : #31CCEC;
$warning   : #FDA701;

$primary-dark   : #FFFFFF;
$secondary-dark : #A6A5AA;
$accent-dark    : #9C27B0;
$for-background-dark: #212121;
$for-white-dark: #535353;
$for-white-dark-bar: #121212;

$less-spent: #D7FF95;
$more-spent: #FF7474;



